target/classes/currencyconverter.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="currencyconverterFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/convert" allowedMethods="get" doc:name="HTTP"/>
        <logger message="#[message.inboundProperties.'usdValue']" level="INFO" doc:name="Logger"/>
        <message-filter doc:name="Message">
            <expression-filter expression="#[message.inboundProperties.'usdValue'!=null &amp;&amp;  message.inboundProperties.'usdValue'!='']"/>
        </message-filter>
        <set-variable variableName="ruppeesValue" value="#[BigDecimal.valueOf(message.inboundProperties.'usdValue')*63]" doc:name="Convert"/>
        <set-payload value="{&quot;rupeeValue&quot; : #[flowVars.ruppeesValue]}" mimeType="text/json" doc:name="Set Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
